.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 15px 25px var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
  justify-content: space-around;
  position: relative;
}

.screen-header__icons div {
  right: 5px;
  top: 50px;
  width: 5px;
  height: 5px;
}

.screen-header__dot {
  background-color: tomato;
  width: 16px;
  height: 16px;
  border-radius: 15px;
  position: absolute;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
